body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: 'Poppins', sans-serif;
}
#calculater{
    background-color: #222;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    width: 280px;
    box-shadow:0px 5px 15px rgba(0,0,0,0.3); 
}
#calculatetr{
  background: #222;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
  width: 280px;
}

#display{
  margin-top: 10px;
  width: 250px;
 
  height: 70px;
  font-size: 24px;
  text-align: right;
  border: 2px solid black;
  border-radius: 10px;
  background: #544c4c;
  color: white;
  margin-bottom: 1px;
 
}

#keys{
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  
  
}

button{
width: 60px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background: #444;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition:  0.2s;
 justify-content: center;
 align-items: center;
 gap: 20px;
}

button:hover {
  background: #555;
}

.operator-btn {
  background: #ff9500;

}
.operator-btn1{
    background-color: #667eea;
}
.operator-btn1:hover {
  background: #6031cd;
}

.operator-btn:hover {
  background: #e08b00;
}

